.contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/bg-effect-green-orange.png");
  mask-image: linear-gradient(
    to top,
    rgba(16, 25, 34, 1) 80%,
    rgba(16, 25, 34, 0) 100%
  );
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  pointer-events: none;
  opacity: 1;
  z-index: -1;
}
